<div class="container">
  <form #cantorForm="ngForm" (ngSubmit)="salvar(cantorForm)">
    <div>
      <label for="">Nome</label>
      <input type="text" name="nome" ngModel>
    </div>
    <div>
      <label for="">Pais</label>
       <select name="pais" ngModel>
        <option>Brasil</option>
        <option>Estados Unidos</option>
        <option>Inglaterra</option>
        <option>Irlanda</option>
        <option>Porgual</option>
       </select>
    </div>
    <button type="submit">Salvar</button>
  </form>
</div>
