<div class="container">
  {{cantor | json}}
  <form #cantorForm="ngForm" (ngSubmit)="salvar(cantorForm)">
    <div>
      <label>Nome</label>
      <input type="text" name="nomeCantor" [(ngModel)]="cantor.nome">
    </div>
    <div>
      <label>Pais</label>
       <select name="nomePais" [(ngModel)]="cantor.pais">
        <option>Selecionar</option>
        <option *ngFor="let pais of paises" [value]="pais">{{pais}}</option>
       </select>
    </div>
    <button type="submit">Salvar</button>
  </form>
</div>
