<div class="container">
    <div class="grid">
      <div class="col-12">
        <h1>Cantores</h1>
      </div>
      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText  />
      </div>
      <div class="col-12">
        <label style="display: block;">Pais</label>
        <input type="text" pInputText style="width: 250px;"/>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Buscar"></button>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="cantores"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        >
        <ng-template pTemplate="header">
          <tr>
            <th class="col-id">ID</th>
            <th>Nome</th>
            <th>Pais</th>
            <th class="col-acoes">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cantor>
          <tr>
              <td class="col-id">{{ cantor.id }}</td>
              <td>{{ cantor.nomeCantor }}</td>
              <td [ngStyle]="{color: cantor.pais === 'Brasil' ? '#2eb82e':'#495057'}">
                {{ cantor.pais }}</td>
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                  <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
                </td>
          </tr>
         </ng-template>
        </p-table>
      </div>
    </div>
    <div class="col-12">
      <a pButton label="Novo Cantor" pTooltip="Novo Cnator" tooltipPosition="top"></a>
    </div>
</div>
